## PROJE SORUMLULARI

> **AD SOYAD : DOÄUKAN SÃœRÃœCÃœ , Ã–ÄRENCÄ° NUMARASI: 200403617**

> **AD SOYAD : FIRAT GÃœMÃœÅ , Ã–ÄRENCÄ° NUMARASI: 200403647**

In [1]:
import pandas as pd
import numpy as np

## DECÄ°SÄ°ON TREES NEDÄ°R ?

> Decision Tree genellikle sÄ±nÄ±flandÄ±rma problemleri iÃ§in kullanÄ±lan bir gÃ¶zetimli Ã¶ÄŸrenme algoritmasÄ±dÄ±r. Regresyon iÃ§inde kullanÄ±labilir. YÃ¼ksek doÄŸruluk, kararlÄ±lÄ±k ve yorumlanma kolaylÄ±ÄŸÄ±na sahiptir. DoÄŸrusal olmayan iliÅŸkileride oldukÃ§a iyi tespit edebilir.

> AÅŸamalÄ± bir iÅŸlevdir, Ã§Ã¼nkÃ¼ her bÃ¶lmede algoritma, bÃ¶lÃ¼nmenin kalitesine veya ne kadar saf olduÄŸuna (daha az hata) baÄŸlÄ± olarak o noktada hangi Ã¶zelliÄŸin kullanÄ±lacaÄŸÄ±nÄ± hesaplar.

## AÅAMA AÅAMA DECÄ°SÄ°ON TREES

* Veriseti iÃ§erisinden bir Ã¶zellik seÃ§ilir.
* Bu Ã¶zelliÄŸin, verinin ayrÄ±lmasÄ±ndaki Ã¶nemi hesaplanÄ±r.
* YukarÄ±daki iÅŸlem, bÃ¶lme iÅŸini en iyi yapan Ã¶zelliÄŸi bulana kadar tekrar edilir.
* En iyi bÃ¶len Ã¶zellik bulununca bir kural oluÅŸturulur.
* YukarÄ±da ki adÄ±mlar Ã¶nem sÄ±rasÄ±na gÃ¶re tÃ¼m Ã¶zellikler iÃ§in tekrarlanÄ±r.
* OluÅŸturulan tÃ¼m kurallar verinin ayrÄ±lmasÄ±ndaki Ã¶nem sÄ±rasÄ±na gÃ¶re sÄ±ralanÄ±r.
* En Ã¶nemli ayrÄ±ÅŸtÄ±rÄ±cÄ± Ã¶zellik kÃ¶k olur, Ã¶nemi az olana doÄŸru giderken yapraklara tek tek ulaÅŸÄ±lÄ±r.

**ENTROPY:** <span style='color:orange'>**RastgeleliÄŸe, belirsizliÄŸi ve beklenmeyen durumun ortaya Ã§Ä±kma olasÄ±lÄ±ÄŸÄ±nÄ± gÃ¶sterir. EÄŸer Ã¶rnekler tamamÄ± dÃ¼zenli / homojen ise entropisi sÄ±fÄ±r olur. EÄŸer deÄŸerler birbirine eÅŸit ise entropi 1 olur. Ã–rneÄŸin Futbol Oyna hepsi â€œEvetâ€ veya â€œHayÄ±râ€ olsa entropi sÄ±fÄ±r olurdu. Entropi formÃ¼lasyonu:**</span>

$$Entropy(x) = - \sum ( P(x=k)) * \operatorname{Log}_2 P(x=k))$$

**INFORMATÄ°ON GAÄ°N (Bilgi KazanÄ±mÄ±):**
<span style='color:orange'>**Bilgi kazanÄ±mÄ±, bir veri setini bir Ã¶zellik Ã¼zerinde bÃ¶ldÃ¼kten sonra tÃ¼m entropiden Ã§Ä±karmaya dayanÄ±r. Entropinin kÃ¼Ã§Ã¼k deÄŸer iÃ§ermesi durumunda Ã¶zelliÄŸin Ã¶nemi Decision Tree algoritmasÄ± ID3 iÃ§in artmaktadÄ±r. DiÄŸer taraftan 1â€™e yaklaÅŸtÄ±kÃ§a Ã¶zelliÄŸinin Ã¶nemi azalÄ±r. Ancak information gainâ€™de olay tam tersidir ve bu aÃ§Ä±dan entropinin tersi gibi dÃ¼ÅŸÃ¼nÃ¼lebilir.  Decision Tree inÅŸa edilirken en yÃ¼ksek deÄŸerleri information gainâ€™e sahip Ã¶zellik seÃ§ilir.**</span>

$$Information Gain(feature) = Entropy(dataset) - Entropy(feature)$$

In [2]:
df = pd.DataFrame(
    {
       "Outlook": ['Rainy', 'Rainy', 'Overcast', 'Sunny', 'Sunny', 'Sunny',
       'Overcast', 'Rainy', 'Rainy', 'Sunny', 'Rainy', 'Overcast',
       'Overcast', 'Sunny'],
        
       "Temp": ['Hot', 'Hot', 'Hot', 'Mild', 'Cool', 'Cool', 'Cool', 'Mild',
       'Cool', 'Mild', 'Mild', 'Mild', 'Hot', 'Mild'],
        
       "Humidity": ['High', 'High', 'High', 'High', 'Normal', 'Normal', 'Normal',
       'High', 'Normal', 'Normal', 'Normal', 'High', 'Normal', 'High'],
        
       "Windy": ['False', 'True', 'False', 'False', 'False', 'True', 'True', 'False', 'False',
       'False', 'True', 'True', 'False', 'True'],
        
       "Play Golf": ['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No']
    },
    index=[i for i in range(14)],
)

In [3]:
eps = np.finfo(float).eps

In [4]:
df

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [5]:
df.keys()[:-1]

Index(['Outlook', 'Temp', 'Humidity', 'Windy'], dtype='object')

In [6]:
target = df.columns[-1]
target

'Play Golf'

In [7]:
for i in df.keys()[:-1]:
    unique_classes=df[i].unique()
    print(unique_classes)

['Rainy' 'Overcast' 'Sunny']
['Hot' 'Mild' 'Cool']
['High' 'Normal']
['False' 'True']

In [8]:
Class = df.keys()[-1]
unique_last=df[Class].unique()
unique_last

array(['No', 'Yes'], dtype=object)

In [9]:
"""

OluÅŸturmuÅŸ olduÄŸumuz veri setinin entropisini hesaplayabilmek iÃ§in Ã¶ncelikle entropy last fonksiyonunu Ã§aÄŸÄ±rÄ±p parametre olarak 
df veri setini girmemiz gerekiyor. Daha sonra veri setinin label sÃ¼tunu olan play golf feature'Ä±nÄ±n birbirinden farklÄ± sÄ±nÄ±flarÄ±nÄ±(yes no) 
bir liste halinde getirmeliyiz. OluÅŸturduÄŸumuz for dÃ¶ngÃ¼sÃ¼ sayesinde Unique_values daki no ve yes sÄ±rasÄ±yla i parametresi ÅŸeklinde ele alÄ±nacak. 
Ã–ncelikle Yes etiketinin geldiÄŸini varsayalÄ±m. df[class].value_counts() bize play golf columns'undaki sÄ±nÄ±flarÄ±n frekans sayÄ±larÄ±nÄ± verir. 
df[class].value_counts()[i] play golf daki toplam 'yes' etiketi sayÄ±sÄ±nÄ±(frekansÄ±nÄ±) verir. 
len(df[class]) metoduyla df veri setinin row sayÄ±sÄ±nÄ± ve aynÄ± zamanda playgolftaki toplam veriyi bulmuÅŸ oluruz. 
Ä°ÅŸte bu yaptÄ±ÄŸÄ±mÄ±z iÅŸlem yes iÃ§in olasÄ±lÄ±k deÄŸeriydi bunun entropisi prob*np.log2(prob) ÅŸeklinde hesaplanmÄ±ÅŸ oluyor.
Bu iÅŸlemler bittikten sonra for dÃ¶ngÃ¼sÃ¼yle 'No' yu i parametresi olarak alÄ±yoruz.
Yes iÃ§in yaptÄ±ÄŸÄ±mÄ±z iÅŸlemleri No iÃ§in de yapÄ±p entropy deÄŸiÅŸkenine atÄ±yoruz ve toplamlarÄ±nÄ± alÄ±yoruz. BÃ¶ylelikle entropiyi hesaplamÄ±ÅŸ oluyoruz.

ğ¸ğ‘›ğ‘¡ğ‘Ÿğ‘œğ‘ğ‘¦(ğ‘¥)=âˆ’âˆ‘(ğ‘ƒ(ğ‘¥=ğ‘˜))âˆ—Log2(ğ‘ƒ(ğ‘¥=ğ‘˜)))

"""

def entropy_last(df):
    Class=df.keys()[-1]    
    unique_values=df[Class].unique()  
    entropy=0
    for i in unique_values:
        prob=df[Class].value_counts()[i]/len(df[Class]) 
        entropy+=-prob*np.log2(prob)
    return entropy

In [10]:
entropy_last(df)

0.9402859586706311

![](Entropy.jpg)

In [11]:
"""

Ä°nformation gaini hesaplamadan Ã¶nce aÅŸaÄŸÄ±daki attiribute_entropy(df,attribute) fonksiyonunda 
feature('Oulook','Temp','Windy','Humidity')'larÄ±n entropisini hesaplamamÄ±z lazÄ±m.
Bunun iÃ§in bir algoritma oluÅŸturduk. best_for_split fonksiyonunda df veri setinin keyslerini alÄ±p for dÃ¶ngÃ¼sÃ¼nde sÄ±rasÄ±yla attribute_entropy
fonksiyonuna gÃ¶nderdiÄŸimizde dÃ¶necek deÄŸerden bahsetmiÅŸtik.Peki biz bu fonksiyonda ne amaÃ§ladÄ±k ? NasÄ±l her feature'Ä±n entropisini hesaplayabiliyoruz ?

attributes parametresine gelecek olan feature, Ã¶rnek 'Outlook' olsun.
df[attribute].unique metoduyla Outlook feature'Ä±ndaki farklÄ± sÄ±nÄ±flarÄ± alÄ±rÄ±z. df.keys()[-1] metoduyla da df veri setimizin son sÃ¼tunu 
aynÄ± zamanda class labelÄ± 'Play golf' columns deÄŸiÅŸkeninin ismini almÄ±ÅŸ ve Class deÄŸiÅŸkenine atamÄ±ÅŸ oluyoruz.

df[Class].unique() metoduyla 'Play golf' un farklÄ± sÄ±nÄ±f deÄŸerlerini unique_last deÄŸiÅŸkenine atÄ±yoruz.


for dÃ¶ngÃ¼sÃ¼nde unique_classes'daki birbirinden farklÄ± sÄ±nÄ±flarÄ± sÄ±rasÄ±yla i parametresine atadÄ±k.tabi i deÄŸeri bir sonraki deÄŸere geÃ§meden Ã¶nce
2.for dÃ¶ngÃ¼sÃ¼ne de giriyor. Mesela 'Outlook' feature'Ä±n farklÄ± sÄ±nÄ±flarÄ±nÄ±n entropisini hesaplÄ±yoruz. ['Rainy' 'Overcast' 'Sunny'] listesindeki sÄ±nÄ±flar
feature'Ä±n birbirinden farklÄ± sÄ±nÄ±flarÄ±dÄ±r.

Rainy i parametresine gÃ¶nderiliyor ve df verisetindeki Rainy sÄ±nÄ±flÄ± olanlarÄ±n class labeldaki ['No'] etiketinin sayÄ±sÄ±nÄ± tÃ¼m Rainy sayÄ±sÄ±na,
Rainy sÄ±nÄ±flÄ± olanlarÄ±n class labeldaki ['Yes'] etiketinin sayÄ±sÄ±nÄ± tÃ¼m Rainy sayÄ±sÄ±na bÃ¶lÃ¼nmesiyle entropi iÅŸlemi gerÃ§ekleÅŸir.

Daha sonra aynÄ± iÅŸlem diÄŸer sÄ±nÄ±flar olan ['Overcast','Sunny'] sÄ±nÄ±flarÄ± iÃ§in de geÃ§erlidir.

En son feature'daki birbirinden farklÄ± sÄ±nÄ±flarÄ±n entropilerini toplarÄ±z ve feature'Ä±n genel entropisini bulmuÅŸ oluruz.

"""
def attribute_entropy(df,attribute):
    unique_classes=df[attribute].unique()
    Class=df.keys()[-1]
    unique_last=df[Class].unique()
    information=0
    for i in unique_classes:
        entropy=0
        for j in unique_last:
            num=len(df[attribute][df[attribute]==i][df[df.keys()[-1]]==j])
            den=len(df[attribute][df[attribute]==i])
            entropy+=-num/(den+eps)*np.log2(num/den+eps)
        information+=den/len(df)*entropy     
    return abs(information)

In [12]:
features_entropi = {}
for key in df.keys()[:-1]:
    features_entropi[key] = attribute_entropy(df,key)

In [13]:
features_entropi

{'Outlook': 0.6935361388961914,
 'Temp': 0.9110633930116756,
 'Humidity': 0.7884504573082889,
 'Windy': 0.892158928262361}

In [14]:
"""

Åimdi inforation gaini hesaplamak ve tree'nin root node kÄ±smÄ±nÄ± bulmak iÃ§in best_for_split adÄ±nda bir fonksiyon oluÅŸturduk ve df verisetimizi bu fonksiyona yolladÄ±k.
df veri setinin feature'larÄ±nÄ±n information gainini hesaplamak iÃ§in Ã¶ncelikle keys() metoduyla featurelarÄ±n ismini alÄ±rÄ±z.
Play golf bir feature deÄŸildir Ã§Ã¼nkÃ¼ o bir class labeldÄ±r.O yÃ¼zden df.keys()[:-1] iÅŸlemini uyguladÄ±k.
Burada for dÃ¶ngÃ¼sÃ¼yle key parametresi olarak sÄ±rasÄ±yla gelecek olan her feature'Ä± attribute_entropy(df,key) 
fonksiyonuna gÃ¶ndereceÄŸiz ve return deÄŸeri dÃ¶necek. entropy_last(df) fonksiyonunu Ã¼stteki hÃ¼crelerde kodlamÄ±ÅŸtÄ±k ve fonksiyonu
Ã§aÄŸÄ±rdÄ±ÄŸÄ±mÄ±zda veri setimizin entropi deÄŸerini dÃ¶ndÃ¼rÃ¼r.
Daha sonra bir list metodu olan append() fonskiyonuyla sÄ±rasÄ±yla gelecek her bir feature('outlook','Temp','Humidity','Windy')'Ä±n
information gainini IG listesine eklemiÅŸ olacaÄŸÄ±z.

Tabi best_for_split fonksiyonunu kurmamÄ±zdaki temel amaÃ§ en yÃ¼ksek information gaini olan feature'Ä± fonksiyon Ã§aÄŸrÄ±ldÄ±ÄŸÄ±nda dÃ¶ndÃ¼rmesi.
Bunun iÃ§in numpy kÃ¼tÃ¼phanesinin np.argmax() kÃ¼tÃ¼phanesini kullandÄ±k.

ğ¸ğ‘›ğ‘¡ğ‘Ÿğ‘œğ‘ğ‘¦(ğ‘¥)=âˆ’âˆ‘(ğ‘ƒ(ğ‘¥=ğ‘˜))âˆ—Log2(ğ‘ƒ(ğ‘¥=ğ‘˜)))

ğ¼ğ‘›ğ‘“ğ‘œğ‘Ÿğ‘šğ‘ğ‘¡ğ‘–ğ‘œğ‘›ğºğ‘ğ‘–ğ‘›(ğ‘“ğ‘’ğ‘ğ‘¡ğ‘¢ğ‘Ÿğ‘’) = ğ¸ğ‘›ğ‘¡ğ‘Ÿğ‘œğ‘ğ‘¦(ğ‘‘ğ‘ğ‘¡ğ‘ğ‘ ğ‘’ğ‘¡) âˆ’ ğ¸ğ‘›ğ‘¡ğ‘Ÿğ‘œğ‘ğ‘¦(ğ‘“ğ‘’ğ‘ğ‘¡ğ‘¢ğ‘Ÿğ‘’)

"""

def best_for_split(df):
    
    IG=[]
    for key in df.keys()[:-1]:
        IG.append(entropy_last(df)-attribute_entropy(df,key))
        
    return df.keys()[:-1][np.argmax(IG)]

![](IG.jpg)

In [15]:
IG=[]
for key in df.keys()[:-1]:
    IG.append(entropy_last(df)-attribute_entropy(df,key))
IG

[0.24674981977443977,
 0.029222565658955535,
 0.15183550136234225,
 0.048127030408270155]

In [16]:
best_for_split(df)

'Outlook'

In [17]:
"""

reset_index() metoduyla, indexi varsayÄ±lan 0, 1, 2 vb. indexlerine sÄ±fÄ±rlamamÄ±za olanak saÄŸlar.
ve tree oluÅŸtururken root node olan feature'Ä±n classlarÄ±nÄ± tablo ÅŸeklinde gÃ¶stermek istedik.

"""

def get_subtable(df,node,value):
    return df[df[node]==value].reset_index(drop=True)

In [18]:
a = get_subtable(df,'Outlook','Rainy')
a

  Outlook  Temp Humidity  Windy Play Golf
0   Rainy   Hot     High  False        No
1   Rainy   Hot     High   True        No
2   Rainy  Mild     High  False        No
3   Rainy  Cool   Normal  False       Yes
4   Rainy  Mild   Normal   True       Yes

In [19]:
get_subtable(df,'Outlook','Sunny')

  Outlook  Temp Humidity  Windy Play Golf
0   Sunny  Mild     High  False       Yes
1   Sunny  Cool   Normal  False       Yes
2   Sunny  Cool   Normal   True        No
3   Sunny  Mild   Normal  False       Yes
4   Sunny  Mild     High   True        No

In [20]:
get_subtable(df,'Outlook','Overcast')

    Outlook  Temp Humidity  Windy Play Golf
0  Overcast   Hot     High  False       Yes
1  Overcast  Cool   Normal   True       Yes
2  Overcast  Mild     High   True       Yes
3  Overcast   Hot   Normal  False       Yes

In [21]:
"""

Åimdi information gain deÄŸeri yÃ¼ksek olan feature'Ä± bildiÄŸimize gÃ¶re aÄŸacÄ± python diliyle kabataslak
oluÅŸturabiliriz. Ä°nformation gaini en yÃ¼ksek olan root node oluyordu.Daha sonra root node olan bu feature'Ä±n
farklÄ± class'larÄ±nÄ±n alt tablolarÄ±nÄ± oluÅŸturuyoruz.

EÄŸer alt tablolardaki class label'larÄ±n tÃ¼m verileri 'Yes' veya 'No' ise yani tek tip etiket varsa o tablonun etiketi bellidir.

EÄŸer tablodaki class label'Ä±n verilerinin bazÄ±sÄ± yes bazÄ±sÄ± no veya class label etiketini belirleyecek feature yoksa tekrar bÃ¶lme iÅŸlemi gerÃ§ekleÅŸir
ve en iyi bÃ¶len feature belirlenir

Mesela Rainy sÄ±nÄ±flarÄ±nÄ± barÄ±ndÄ±ran alt tablonun tek etiketi olmadÄ±ÄŸÄ±ndan belirleyici feature bilmiyoruz bu yÃ¼zden 
en iyi bÃ¶len Ã¶zelliÄŸini bulmak iÃ§in information gainini hesaplarÄ±z ve Humidity feature olduÄŸu gÃ¶rÃ¼lÃ¼r.Humidity feature'Ä±nda
'High' sÄ±nÄ±fÄ±nda etiket 'No' , 'Normal' sÄ±nÄ±fÄ±nda ise etiket 'Yes' olduÄŸu gÃ¶rÃ¼lÃ¼r. 

Overcast alt tablosundaki class label etiketlerinin hepsi 'Yes' olduÄŸu iÃ§in en iyi bÃ¶lme metodunu kullanmaya gerek kalmadan etiket 'Yes'
olur.

AynÄ± mantÄ±k Sunny alt tablosunda da geÃ§erlidir.

"""

def build_tree(df,tree=None):
    Class=df.keys()[-1]
    node=best_for_split(df)
    attr=df[node].unique()
    if tree is None:
        tree={}
        tree[node]={}
        for value in attr:
            subtable = get_subtable(df,node,value)
            clValue,counts = np.unique(subtable['Play Golf'],return_counts=True)                        
        
            if len(counts)==1:
                tree[node][value] = clValue[0]                                                    
            else:        
                tree[node][value] = build_tree(subtable)  
                   
    return tree

In [22]:
tree = build_tree(df)

In [23]:
tree

{'Outlook': {'Rainy': {'Humidity': {'High': 'No', 'Normal': 'Yes'}},
  'Overcast': 'Yes',
  'Sunny': {'Windy': {'False': 'Yes', 'True': 'No'}}}}

In [24]:
import pprint

In [25]:
pprint.pprint(tree)

{'Outlook': {'Overcast': 'Yes',
             'Rainy': {'Humidity': {'High': 'No', 'Normal': 'Yes'}},
             'Sunny': {'Windy': {'False': 'Yes', 'True': 'No'}}}}

![](Tree.jpg)

In [26]:
c,d = np.unique(df['Play Golf'],return_counts=True)

In [27]:
c

array(['No', 'Yes'], dtype=object)

In [28]:
d

array([5, 9], dtype=int64)

In [29]:
len(d)

2

In [30]:
data = {'Outlook':'Sunny','Temperature':'Cool','Humidity':'Normal','Windy':False}
inst = pd.Series(data)

In [31]:
inst

Outlook         Sunny
Temperature      Cool
Humidity       Normal
Windy           False
dtype: object

In [32]:
value = inst['Outlook']
value

'Sunny'

In [33]:
tree['Outlook'][value]

{'Windy': {'False': 'Yes', 'True': 'No'}}

In [34]:
"""

SÄ±rada oluÅŸturduÄŸumuz bu decision tree algoritmasÄ±nÄ± test etmek var.
Ã–rneÄŸin {'Outlook':'Rainy','Temperature':'Cool','Humidity':'High','Windy':True}

alÄ±ÅŸtÄ±rmasÄ±nÄ±n etiketini tahmin edin denildiÄŸinde cevap ne olur ?

Etiket 'No' olur.Burada Root node'un class'larÄ±ndan biri olan 'Rainy' seÃ§ilmiÅŸ.
'Rainy' sÄ±nÄ±flÄ± alt tablonun belirleyici Ã¶zelliÄŸi 'Humidity' deÄŸiÅŸkeniydi.

Humidity key'i 'Normal' ise etiket 'Yes' olur.
Humidity key'i 'High' ise etiket 'No' olur.

"""

def predict(inst,tree):
   
    for nodes in tree.keys():        
        
        value = inst[nodes]
        tree = tree[nodes][value]
        prediction = 0
            
        if type(tree) is dict:
            prediction = predict(inst, tree)
        else:
            prediction = tree
            break;                            
        
    return prediction

In [35]:
data = {'Outlook':'Rainy','Temperature':'Cool','Humidity':'Normal','Windy':True}
inst = pd.Series(data)

prediction = predict(inst,tree)

In [36]:
prediction

'Yes'

In [37]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier 
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn import tree

In [38]:
df = pd.read_csv('play_golf.csv')
df

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [39]:
# Load the dataset
df = pd.read_csv('play_golf.csv') 

# Create label encoder instance
lb = LabelEncoder() 

# Create Numerical labels for classes
df['Play Golf_'] = lb.fit_transform(df['Play Golf'] ) 
df['Outlook_'] = lb.fit_transform(df['Outlook']) 
df['Temp_'] = lb.fit_transform(df['Temp'] ) 
df['Humidity_'] = lb.fit_transform(df['Humidity'] ) 
df['Windy_'] = lb.fit_transform(df['Windy'] ) 

# Split features and target variable
X = df[['Outlook_', 'Temp_', 'Humidity_', 'Windy_']] 
Y = df['Play Golf_']

# Instantiate a one hot encoder
enc = OneHotEncoder()

# Fit the feature set X
enc.fit(X)

# Transform X to onehot array 
onehotX = enc.transform(X).toarray()

onehotX, onehotX.shape, X.shape

(array([[0., 1., 0., 0., 1., 0., 1., 0., 1., 0.],
        [0., 1., 0., 0., 1., 0., 1., 0., 0., 1.],
        [1., 0., 0., 0., 1., 0., 1., 0., 1., 0.],
        [0., 0., 1., 0., 0., 1., 1., 0., 1., 0.],
        [0., 0., 1., 1., 0., 0., 0., 1., 1., 0.],
        [0., 0., 1., 1., 0., 0., 0., 1., 0., 1.],
        [1., 0., 0., 1., 0., 0., 0., 1., 0., 1.],
        [0., 1., 0., 0., 0., 1., 1., 0., 1., 0.],
        [0., 1., 0., 1., 0., 0., 0., 1., 1., 0.],
        [0., 0., 1., 0., 0., 1., 0., 1., 1., 0.],
        [0., 1., 0., 0., 0., 1., 0., 1., 0., 1.],
        [1., 0., 0., 0., 0., 1., 1., 0., 0., 1.],
        [1., 0., 0., 0., 1., 0., 0., 1., 1., 0.],
        [0., 0., 1., 0., 0., 1., 1., 0., 0., 1.]]),
 (14, 10),
 (14, 4))

In [40]:
X_train, X_test , y_train,y_test = train_test_split(onehotX, Y, test_size = 0.3, random_state = 42)

In [41]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [42]:
clf= DecisionTreeClassifier(criterion='entropy')
clf.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [43]:
y_test_pred = clf.predict(X_test)
y_test_pred

array([1, 0, 0, 1, 1])

In [44]:
y_train_pred = clf.predict(X_train)
y_train_pred

array([1, 1, 0, 0, 1, 0, 1, 1, 1])

In [45]:
print(accuracy_score(y_train, y_train_pred))
confusion_matrix(y_train, y_train_pred)

1.0

array([[3, 0],
       [0, 6]], dtype=int64)

In [46]:
from sklearn import metrics

In [47]:
# confusion matrix
confusion_matrix(y_test, y_test_pred)
print(confusion_matrix(y_test, y_test_pred))

# accuracy
print("Accuracy:", metrics.accuracy_score(y_test,y_test_pred))

[[1 1]
 [1 2]]
Accuracy: 0.6

In [48]:
from sklearn.tree import export_graphviz
from six import StringIO  
from IPython.display import Image  
import pydotplus, graphviz

In [49]:
dot_data = StringIO()

In [50]:
export_graphviz(clf, out_file=dot_data, filled=True, rounded=True,
                feature_names=df.columns, 
                class_names=['Yes', "No"])